 .timer {
     margin-top: 150px;
     text-align: center;
 }

 .timer-title {
     font-size: 36px;
     color: #c78030;
 }

 .timer-action {
     font-size: 24px;
     color: #fff;
     margin-top: 40px;
 }

 .timer-numbers {
     margin-top: 40px;
     font-size: 90px;
     color: #c78030;
     text-align: center;
 }

 